@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

.campus {
  background-image: url('/home.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  position: relative;
}

/* To create a semi-transparent overlay on the campus image */
.overlay {
  position: absolute;
  inset: 0; /* Top, right, bottom, left = 0 */
  background-color: rgba(255, 255, 255, 0.5); /* white with 70% opacity */
  display: flex;
  align-items: flex-start;  /* To align content to the top */
  justify-content: flex-start; /* To align content to the left */
  padding: 4rem; /* Add some padding */
}

@keyframes fadeSlideIn {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.titleAnimated {
  animation: fadeSlideIn 1s ease-out forwards;
}
